In [ ]:
name = ["Preet", "Ehsan", "Adeel", "Kasif"]
grades = ["A+", "B", "A", "C"]

In [ ]:
for i in name:
  print(i)

Preet
Ehsan
Adeel
Kasif

In [ ]:
len(name)

4

In [ ]:
# Task

try:
  for i in range(3,-1,-1): #len(name)
    print(name[i], grades[i])
except Exception as e:
  print(e)

Kasif C
Adeel A
Ehsan B
Preet A+

In [ ]:
# 2d Method:-

for i in range(0, len(name)):
    try:
        print(name[i], grades[i])
    except IndexError:
        print("Index out of range for lists 'name' and 'grades'.")

Preet A+
Ehsan B
Adeel A
Kasif C

In [ ]:
for i in range(10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
# Zip method

for i, j in zip(name, grades):
  print(i,j)

Preet A+
Ehsan B
Adeel A
Kasif C

In [ ]:
dir(zip)

In [ ]:
import pandas as pd
dir(pd)

In [ ]:
students = {
    "student1": {"name": "kamran", "grade": "A"},
    "student2": {"name": "Ehsan", "grade": "B"},
}

for key in students:
    for key1 in students[key]:
        value = students[key][key1]

print(value)  # Answer is not Correct why?

B

In [ ]:
# Code By ChatGPT

students = {
    "student1": {"name": "kamran", "grade": "A"},
    "student2": {"name": "Ehsan", "grade": "B"},
}

for key in students:
    for sub_key in students[key]:
        value = students[key][sub_key]
        print(f"{key} - {sub_key}: {value}")

student1 - name: kamran
student1 - grade: A
student2 - name: Ehsan
student2 - grade: B



#  **KNN**

In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns
import matplotlib.pyplot as plt
# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

# from subprocess import check_output
# print(check_output(["ls", "../input"]).decode("utf8"))

iris = pd.read_csv("iris data.csv") #load the dataset
iris.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [ ]:
iris.info()  #checking if there is any inconsistency in the dataset
#as we see there are no null values in the dataset, so the data can be processed

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   5.1          149 non-null    float64
 1   3.5          149 non-null    float64
 2   1.4          149 non-null    float64
 3   0.2          149 non-null    float64
 4   Iris-setosa  149 non-null    object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

In [ ]:
iris.drop('Id',axis=1,inplace=True)

KeyError: ignored