In [ ]:
i = 0
p = 50
r = 7
t = 2

i = (p*r*t)/100

In [ ]:
print(i)

7.0

In [ ]:
value = input("Enter Value: ")

In [ ]:
water_bill = input("Enter your water bill: ")
gas_bill = ("Enter your gas bill: ")
total_bill = water_bill + gas_bill

Enter your water bill: 100

In [ ]:
numbers = [0, 1, 2, 3, 4, 5]
print(type(numbers))

<class 'list'>

In [ ]:
print(numbers)
print(numbers[0])
print(numbers[4])
print(numbers[0:3])
print(numbers[-1])
print(numbers[-2])

[0, 1, 2, 3, 4, 5]
0
4
[0, 1, 2]
5
4

In [ ]:
numbers[0] = 50
print(numbers)

[50, 1, 2, 3, 4, 5]

In [ ]:
numbers.append(5)
print(numbers)

[50, 1, 2, 3, 4, 5, 5]

In [ ]:
numbers.pop()
print(numbers)

[50, 1, 2, 3, 4, 5]

In [ ]:
numbers.sort()
print(numbers)

[1, 2, 3, 4, 5, 50]

In [ ]:
for numbers in numbers:
  print(numbers)

1
2
3
4
5
50

In [ ]:
### LIST ###

mylist = ["apple", "banana", "cherry"]

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [ ]:
### Dictionary ###

# KEYS : VALUES

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
thisdict.keys()

dict_keys(['brand', 'model', 'year'])

In [ ]:
thisdict.values()

dict_values(['Ford', 'Mustang', 1964])

In [ ]:
thisdict.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [ ]:
thisdict.clear()

In [ ]:
a = [1, 2, 3, 4, 5, 6, 6, 7, 8, 9, 10]
print(a)

[1, 2, 3, 4, 5, 6, 6, 7, 8, 9, 10]

In [ ]:
b = {"Hello", "World"}
print(b)

{'Hello', 'World'}

In [ ]:
c = {"name": "Ehsan", "age": "18"}
print(c)

{'name': 'Ehsan', 'age': '18'}

In [ ]:
a = [1, 2, 3, 4, 5, 6, 6, 7, 8, 9, 10]
b = {"Hello", "World"}
c = {"name": "Ehsan", "age": "18"}

# **Conditions & Branching**

# Basic If - Else

In [ ]:
# For Loop

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [ ]:
# for x in range(6):

for x in range(1 , 6):
  print(x)

1
2
3
4
5

In [ ]:
# While Loop

In [ ]:
"""
---------
"""

'\n---------\n'

In [ ]:
def is_palindrome(word):
    word = word.lower()
    word = "".join(char for char in word if char.isalnum())
    return word == word[::-1]

# Test cases
print(is_palindrome("Maham"))
print(is_palindrome("aba"))
print(is_palindrome("b"))
print(is_palindrome("race car"))
print(is_palindrome("Hello"))
print(is_palindrome("123"))
print(is_palindrome("1001"))

True
True
True
True
False
False
True

In [ ]:
def is_palindrome(word):
    word = word.lower()
    word = "".join(char for char in word if char.isalnum())
    return word == word[::-1]

user_input = input("Enter a word or phrase: ")

if is_palindrome(user_input):
    print("The input is a palindrome.")
else:
    print("The input is not a palindrome.")

Enter a word or phrase: 100
The input is not a palindrome.

In [ ]:
def is_palindrome(word):
    word = word.lower()
    word = "".join(char for char in word if char.isalnum())
    return word == word[::-1]

user_input = input("Enter a word or phrase: ")

if is_palindrome(user_input):
    print("Yes")
else:
    print("Not")