# **Basic**

# **Q1**

Create a function that takes two integers as input and returns their:
1. Sum
2. Difference
3. Product

In [ ]:
def calculate_operations(a, b):
    sum = a + b
    difference = a - b
    product = a * b
    return sum, difference, product

num1 = int(input("Enter the first value: "))
num2 = int(input("Enter the second value: "))

sum, difference, product = calculate_operations(num1, num2)

print(sum)
print(difference)
print(product)

# **Q2**

Write a function that asks the user how many values the user wants to enter, then takes that many values as input and puts them in a list. Then it returns the sum of those values.

In [ ]:
def calculate_sum_of_values():
    num_value = int(input("How many values do you want to enter? "))
    list = []
    for i in range(num_value):
        value = float(input(f"Enter value {i + 1}: "))
        list.append(value)
    return sum(list)

result = calculate_sum_of_values()
print("The sum total entered values is:", result)

How many values do you want to enter? 5
Enter value 1: 5
Enter value 2: 5
Enter value 3: 2
Enter value 4: 2
Enter value 5: 1
The sum total entered values is: 15.0

# **Q3**

Implement a function that divides two numbers, but handles the ZeroDivisionError by returning a custom error message.

In [ ]:
x = int(input("Enter Value: "))
y = int(input("Enter Value: "))

def Division_operations(x, y):
  try:
    div_result = x / y
  except ZeroDivisionError:
   print("Error: Division by zero!")
  return None

divide_num = Division_operations(x, y)

if divide_num is not None:
  print("divide:", divide_num)

Enter Value: 10
Enter Value: 0
Error: Division by zero!

# **Q4**

Write a Python program to print the multiplication table of a given number.

Sample Input: 4
Sample Output : 4,8,12,16,20,24,28,32,36,40

In [ ]:
x = int(input("Please Inter Your Value: "))
print(f"Multiplication table of {x} is:")

for i in range(1,11):
  print(f"{int(x)} * {i} = {int(x)*i}")

Please Inter Your Value: 2
Multiplication table of 2 is:
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

# **Q5**

Write a Python program that takes a user's age as input and prints whether they are a child (0-12), teenager (13-19), adult (20-60), or senior citizen (61-110).

In [ ]:
def age_category(age):
    if age >= 0 and age <= 12:
        return "child"
    elif age >= 13 and age <= 19:
        return "teenager"
    elif age >= 20 and age <= 60:
        return "adult"
    elif age >= 61 and age <= 110:
        return "senior citizen"
    else:
        return "Invalid age input"

age = int(input("Enter your age: "))
category = age_category(age)
print("You are a", category)

Enter your age: 199
You are a Invalid age input

# **Advanced**

# **Q1.**

Given a list, write a Python program to swap first and last element of the list.

Examples:

Input : [12, 35, 9, 56, 24]
Output : [24, 35, 9, 56, 12]

Input : [1, 2, 3]
Output : [3, 2, 1]

In [ ]:
def swap_first_and_last(lst):
    if len(lst) >= 2:
        lst[0], lst[-1] = lst[-1], lst[0]
    return lst

input = [12, 35, 9, 56, 24]
output = swap_first_and_last(input)
print(output)
input = [1, 2, 3]
output = swap_first_and_last(input)
print(output)

[24, 35, 9, 56, 12]
[3, 2, 1]

# **Q2**

Given a string. the task is to check if the string is palindrome or not. A string is said to be a palindrome string if one half of the string is the reverse of the other half or if a string appears same when read forward or backward.

Example:

Input: khokho

Output:

The entered string is not palindrome

Input:amaama

Output:

The entered string is palindrome

In [ ]:
def is_palindrome(input_string):
    reversed_string = input_string[::-1]
    if input_string == reversed_string:
        return True
    else:
        return False

input_str1 = 'khokho'
input_str2 = 'amaama'

if is_palindrome(input_str1):
    print("The entered string is palindrome.")
else:
    print("The entered string is not palindrome.")

if is_palindrome(input_str2):
    print("The entered string is palindrome.")
else:
    print("The entered string is not palindrome.")

The entered string is not palindrome.
The entered string is palindrome.

# **Q3**

Given a string, the task is to write a Python program to perform sort by maximum occurring character.

Input : test_list = ['apple', 'doctor' , 'sad']

Output : ['sad', 'apple', 'doctor']


Input : test_list = ['llama', 'nlp' , 'business']

Output : ['nlp', 'llama' , 'business']

In [ ]:
def max_occurrence(word):
    char_count = {}
    for char in word:
        char_count[char] = char_count.get(char, 0) + 1
    max_occurred_char = max(char_count, key=char_count.get)
    return char_count[max_occurred_char]

def sort_by_max_occurrence(test_list):
    sorted_list = sorted(test_list, key=max_occurrence, reverse=True)
    return sorted_list

input_list1 = ['apple', 'doctor', 'sad']
output_list1 = sort_by_max_occurrence(input_list1)
print(output_list1)

input_list2 = ['llama', 'nlp', 'business']
output_list2 = sort_by_max_occurrence(input_list2)
print(output_list2)

['apple', 'doctor', 'sad']
['business', 'llama', 'nlp']

# **Q4**

Find and segregate positive and negative integers into two separate lists from a given string.

Input: 'asdfg4-1is5best-8'

Output : [ 4,5 ], [ -1,-8 ]

In [ ]:
import re

def segregate_integers(input_string):
    all_numbers = [int(num) for num in re.findall(r'-?\d+', input_string)]
    positive = [num for num in all_numbers if num >= 0]
    negative = [num for num in all_numbers if num < 0]
    return positive, negative

input_string = 'asdfg4 -1 is5 best-8'
positive, negative = segregate_integers(input_string)
print("Output:", positive, ",", negative)

Output: [4, 5] , [-1, -8]

# **Q5**

Given two sorted lists, return the median of the two sorted arrays.

Hint: Merge the two lists.

Input: nums1 = [1,3], nums2 = [2]

Output: 2.00000

Input: nums1 = [1,2], nums2 = [3,4]

Output: 2.50000

In [ ]:
def find_median_sorted_arrays(num1, num2):
    merged_list = sorted(num1 + num2)
    total_length = len(merged_list)
    if total_length % 2 == 0:
        median = (merged_list[total_length // 2 - 1] + merged_list[total_length // 2]) / 2
    else:
        median = merged_list[total_length // 2]
    return median

num1 = [1, 3]
num2 = [2]
result = find_median_sorted_arrays(num1, num2)
print(result)
num1 = [1, 2]
num2 = [3, 4]
result = find_median_sorted_arrays(num1, num2)
print(result)

2
2.5